{% extends 'base.html' %}


{% block content_block %}
<footer class="site-footer section-padding">

    <div class="container">

        <div class="row">

            <div class="col-12">
                <h4 class="text-white mb-4 me-5">Flask Example</h4>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Location</h6>

                <p>121 Uğur Mumcu Mah. Y, Batıkent, ANK 06000, TURKIYE</p>

                <a href="https://www.google.com/maps/place/Ankara/data=!4m2!3m1!1s0x14d347d520732db1:0xbdc57b0c0842b8d?sa=X&ved=2ahUKEwiU_buP6MD-AhWClYsKHaxqDHEQ8gF6BAgNEAI"
                   class="custom-btn btn btn-dark mt-2">Directions</a>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Social</h6>

                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="https://www.instagram.com/yusufyelmenoglu/" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="https://twitter.com/yelmeno" target="_blank"
                           class="social-icon-link bi-twitter"></a></li>

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                </ul>

            </div>

        </div><!-- row ending -->

    </div><!-- container ending -->

</footer>


<!-- JAVASCRIPT FILES -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/custom.js"></script>

{% endblock %}

